BasedOnStyle: Google
AllowShortFunctionsOnASingleLine: true
ColumnLimit : 64 
IndentWidth: 4 
AllowShortIfStatementsOnASingleLine: Always
AllowShortBlocksOnASingleLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortLambdasOnASingleLine: true
